.header-container {
    width: 100%;
    background-color: #ff8624;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px #006400;
    transition: all 0.3s ease;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}

.logo-link {
    display: flex;
    align-items: center;
    flex: 1;
    /* Toma una parte del espacio */
}

.logo-img {
    max-height: 80px;
}

.mobile-menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    align-items: center;
    flex: 2;
}

.custom-navbar-font {
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
}

/* Texto del NavBar */
.nav-links {
    color: white;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 35px;

    transition: color 0.3s ease;
}

.nav-link {
    font-family: 'Lobster', cursive;
}

.nav-link:hover {
    color: #000000 !important;
    transform: scale(1.05);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-link:hover svg {
    color: #006400;
}


.cart-container {
    position: relative;
    flex: 1;
    /* Toma una parte del espacio */
    display: flex;
    justify-content: flex-end;
}

/* Colores del carrito */
.cart-button {
    background: none;
    border: none;
    color: white !important;
    cursor: pointer;
    position: relative;
    font-size: 36px;
    display: flex;
    align-items: center;
}

.cart-button:hover {
    color: #000000 !important;
}

.cart-count {
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: #006400;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

/* Media queries */
@media screen and (max-width: 1109px) {
    .header-container {
        padding: 15px 0;
    }

    .header-content {
        justify-content: space-between;
    }

    .mobile-menu-toggle {
        display: block;
        order: 2;
        /* Coloca el toggle en el medio */
    }

    .logo-link {
        order: 1;
        /* Coloca el logo a la izquierda */
    }

    .cart-container {
        order: 3;
        /* Coloca el carrito a la derecha */
    }

    .main-nav {
        position: fixed;
        top: 90px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 90px);
        background-color: #ff8624;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .main-nav.active {
        left: 0;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}