


*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: 0 2px 6px #08a05ca4;
  box-sizing: border-box;
}


/* ----------------- HEADER -------------------*/
header {
  
  width: 100%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  box-sizing: border-box;
  background-color: #CA2521;
  box-shadow: 0 10px 10px #61120e;
  position: sticky;
  top: 0;
  z-index: 1;
  
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:link {
  color: blanchedalmond;
  background-color: transparent;
  text-decoration: none;
}

.menu {
  display: none;
}

li {
  list-style: none;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  padding: 0 1rem;
}

header ul li a {
  font-weight: bold;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart box-icon {
  width: 45px;
  height: 45px;

}

.cart span {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
  background-color: #ECA442;
}

/* -------------Footer -------------*/

.footer{
  width: 100%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  box-sizing: border-box;
  background-color: #CA2521;
  box-shadow: 0 10px 10px #61120e;
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer ul li {
  padding: 0 1rem;
}

.footer ul li a {
  font-weight: bold;
}



/* ----------------- MAIN -------------------*/

/* -------------MEDIA for Responsive -------------*/
@media only screen and (max-width: 1000px) {
  .carrito__item {
    width: 92%;
  }
}

@media only screen and (max-width: 888px) {
  .detalles input {
    margin-top: -6rem;
  }
}

@media only screen and (max-width: 700px) {
  .carrito {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .carrito__item h3 {
    font-size: 1.3rem;
  }

  .detalles h2 {
    font-size: 3rem;
  }

}

@media only screen and (max-width: 663px) {
  .detalles input {
    margin-top: -8rem;
  }
}

@media only screen and (max-width: 570px) {
  header ul {
    display: none;
  }

  .productos {
    padding: 0;
  }

  .detalles h2 {
    font-size: 2.5rem;
  }

  .detalles input {
    margin-top: 0rem;
  }

  .detalles img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: -1rem auto;
  }
}

@media only screen and (max-width: 450px) {
  .carrito__item h3 {
    font-size: .8rem;

  }

  .carrito__item .remove__item {
    width: 20px;
    height: 20px;
  }

  .carrito__item box-icon {
    width: 25px;
    height: 25px;
  }

  .detalles h2 {
    font-size: 2rem;
    padding-top: 10rem;
  }

  .detalles .grid>.nuevo,
  .tamano {
    padding: 1rem 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
  }

  .detalles .grid .tamano select {
    font-size: 1.2rem;
  }

  .detalles img {
    width: 300px;
    width: 100%;
  }

  .detalles {
    padding: 1rem 0;
  }
}